@using OTO.Models.Entity

@model List<OTO.Models.Entity.Ilan>
@{
    ViewBag.Title = "IlanEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Events -->
<section class="events archive section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="section-title bg">
                    <h2>Kayıtlı <span>İlanlar</span></h2>
                    <p>Sistemimize kayıt ettiğiniz ilanlar listelenmekte sizin için isteklerinize göre işlemler yapılmaktadır.</p>
                    <div class="icon"><i class="fa fa-paper-plane"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div id="content-wrapper">
            <div class="container-fluid">
                <div>

                    <a href="@Url.Action("IlanEkle", "HomeLogin")" style="font-size:large" class="btn bg-success"><i class="fa fa-plus"></i>&nbsp; &nbsp;  Yeni İlan Ekle </a>

                </div>
                <br />

                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-list"></i>
                        &ensp;Kayıtlı İlan Verileri

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable">
                                <thead style="background:#0e0c28 ; font-size:large">
                                    <tr>

                                        <th style="color:whitesmoke">İlan Başlık</th>
                                        <th style="color:whitesmoke">İlan Kategori</th>
                                        <th style="color:whitesmoke">İlan Detay</th>
                                        <th style="color:whitesmoke">İlan Adres </th>
                                        <th style="color:whitesmoke">İlan Fiyat </th>
                                        <th style="color:whitesmoke">İlan Tarih </th>
                                        <th style="color:whitesmoke">İlan ID </th>

                                        <th style="color:wheat">Delete</th>
                                        <th style="color:wheat">Update</th>
                                    </tr>
                                </thead>

                                <tbody style="font-size:16px">

                                    @foreach (var ilan in Model.ToList())
                                    {
                                        if (ViewBag.ilanID == ilan.ilan_kullanici)
                                        {
                                            try
                                            {
                                                <tr>
                                                    <td>@ilan.ilan_baslik</td>
                                                    <td>@ilan.Kategori.kategori_ad</td>
                                                    <td>@ilan.ilan_detay</td>
                                                    <td>@ilan.ilan_adres</td>
                                                    <td>@ilan.ilan_fiyat TL</td>
                                                    <td>@ilan.ilan_tarih</td>
                                                    <td>@ilan.ilan_kullanici</td>

                                                    <td>
                                                        <a href="/HomeLogin/IlanSil/@ilan.ilan_id" class="btn bg-danger">Sil</a>
                                                    </td>
                                                    <td>
                                                        <a href="/HomeLogin/IlanGuncelle/@ilan.ilan_id" class="btn bg-primary">Güncelle</a>
                                                    </td>
                                                </tr>

                                            }
                                            catch (Exception)
                                            {

                                                Response.Write("Boş Bırakılamaz");
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted"> @DateTime.Now</div>
                </div>
                <p class="small text-center text-muted my-5">
                    <em>Araç Onarım ve Bakım &nbsp; &nbsp;|&nbsp;&nbsp; SanOto A.Ş. </em>
                </p>
            </div>

        </div>


    </div>

</section>
<!--/ End Events --> 